<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767483878259-4hhjh4r758fn7srngcmni20l53pj3oft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767483878259-4hhjh4r758fn7srngcmni20l53pj3oft</string>
	<key>API_KEY</key>
	<string>AIzaSyBA_W_fMal4ScbJ2tS3EYJFDKqvgDIe_VU</string>
	<key>GCM_SENDER_ID</key>
	<string>767483878259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codelion.Memorizing</string>
	<key>PROJECT_ID</key>
	<string>memorizing-ccadc</string>
	<key>STORAGE_BUCKET</key>
	<string>memorizing-ccadc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767483878259:ios:5207334209fd1e3f2dc306</string>
</dict>
</plist>